*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

form{
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2rem;
    height: 100vh;
}

div{
    background-color: white;
    border: solid 3px royalblue;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 32px -16px;
}

input, select{
    background-color: white;
    border: solid 2px;
    padding: 0.25rem;
    border-radius: 0.25rem;
    max-width: 50%;
    float: right;
}

input[type="number"]{ max-width: 15%; }

input:hover, select:hover{ border-color: royalblue; }
label:hover{ color: royalblue; }
input:focus, select:focus{ outline-color: royalblue; }

button{
    background-color: rgb(225, 225, 225);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms all;
}

button:hover{ background-color: rgb(200, 200, 200); }
button:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#button-submit{
    background-color: royalblue;
    color: whitesmoke;
    margin-bottom: 1vh;
}

#button-submit:hover{ background-color: rgba(45, 85, 200, 1); }

hr{
    border-style: solid; 
    border-top-width: 1px;
    border-bottom: none;
    border-color: black;
}

h2{ text-align: center; }